**/.*
**/__fixtures__
**/__mocks__
**/__tests__
android/build
android/gradle
android/gradlew
android/gradlew.bat
android/local.properties
build
dr.pogodin-react-native-audio-*.tgz
example/
ios/build
node_modules
