ios/build
android/build
android/gradle
android/gradlew
android/gradlew.bat
android/local.properties
**/.*
**/__fixtures__
**/__mocks__
**/__tests__

build
dr.pogodin-react-native-audio-*.tgz
example
node_modules
